* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color:rgba(233, 240, 255);
    height: 100vh;
    width : 100vw;
     display: flex;
     justify-content: center;
    align-items: center;
    font-family: poppins;

 
}
.content{
    height:75vh;
    width:25vw;
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
  
       
}
.id{
    text-align: right;
    opacity: 50%;
    font-size: 0.8rem;
}
.apple  {
     height:56rem;
    width: 25vw;
    
    
    background-color: rgb(255, 255, 255)  ;
    object-fit: cover;
    height: max-content;
    /* position: absolute; */

   
}
.image{
    display: flex;
    justify-content: center;
    /* align-items: start; */
    /* margin-top: -1.5rem; */
    /* padding: 30px; */
    background-color: red;
    position :relative;


}
.star{
    /* background-color: aqua; */
    height:15px;
    width:80%;
    /* padding-top: 0.5rem; */
    
}
.opacity{
    opacity: 60%;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: red; */
    padding-left: 1rem;
}
.price{
    /* background-color: antiquewhite; */
    /* height:30px;
    width:80%; */
    display: flex;
    flex-direction: row;
    margin-top: 3rem ;
}
.underline{
    text-decoration:line-through;
    opacity: 50%;
}
.percent{
    background-color:rgba(233, 240, 255);
    margin-left: 1rem;
}
.lowerup{
    display: flex;
    flex-direction: row;
   /* margin-top: 3rem; */

}
.lowerlow{
    
    font-size:1rem;
    font-weight: bold;
    
}
.logos{
    background-color:rgba(38, 103, 255);
    height: 3rem;
    width: 3rem;
    padding-left: 1rem;
    padding-top: 1rem;
    /* margin-top: 3rem; */
    border-radius: 20%;
}
.lower{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
.right{
    width: 100%;
    height: 100%;
/* background-color: yellowgreen; */
    display: flex;
    justify-content: end;;
    
}
.left{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    /* padding-top: -2rem; */
}
.logo{
    width: 2rem;
    height: 2rem;
     background-color: brown;
}
.zindex{
    background-color: cadetblue;
    padding:7px;;
    position:absolute;
    /* right: 50px; */
    border-radius: 50%;
    top: 110px;
    right:45px;
}
.text{
    font-size: 20px;
    font-weight: 400;

}